@media (min-width: 600px) {

p {
    color: black;
    display: flex;
    justify-content: flex-start;
    padding-top: 5%;
    padding-right: 10%;

}

body {
    font-size: 14px;
    
}

h1 {
    color: #34d0c9;
    background-color: #ff7e42;
    margin: 20px;
    padding: 40px;
    text-align: center;

}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    padding: 5%;

}

h2 {
    text-decoration: underline;
}

h3 {
    text-transform: uppercase;
}


nav {
    color: #34d0c9;
    font-size: small;
}

.flex-container {
    display: flex;
    
    flex-direction: column;
    padding-right: ;
    justify-content: center;
    align-items: center;
}

.flex-container2 {
    display: flex;
    justify-content: center;
   }

p {
       align-content: center;
   }

.projects {
    padding-left: 2cm;
}

.selfie {
    max-width: 15cm;
    max-height: 10cm;
    border-radius: 75%;
}

.p1 {
    max-width: 15cm;
    max-height: 10cm;
    border-radius: 75%;
    
}

.form-item {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding-left: 10cm;
    padding-right: 10cm;
}

#contactme {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: medium;
}

}

body {
    justify-content: center;
}